[package]
name = "semtech-udp"
version = "0.4.2-alpha.0"
authors = ["Louis Thiery <thiery.louis@gmail.com>"]
edition = "2018"
description = "Semtech UDP provides serialization and deserialization of packets complying with the Semtech UDP protocol"
license = "Apache-2.0"
keywords = ["lorawan", "iot", "lpwan", "semtech"]
repository = "https://github.com/helium/semtech-udp/"

[[example]]
name = "server"
required-features = ["server"]

[[example]]
name = "server_split"
required-features = ["server"]

[[example]]
name = "client"
required-features = ["client"]

[dependencies]
num_enum = "0.4"
arrayref = "0.3"
serde_json = { version = "1.0" }
serde = { version = "1.0.100", default-features = false,  features = ["derive"] }
rand = "0.7.3"

[dev-dependencies]
etherparse = "0.9.0"
pcap = "0.7.0"
lorawan = "0.6.0"
base64 = "0.12.0"
structopt = { version = "0.3.2", default-features = false }

[dependencies.tokio]
optional = true
version = "0.2"
features = ["tcp", "udp", "rt-threaded", "macros", "sync", "time"]

[dev-dependencies.tokio]
version = "0.2"
features = ["tcp", "udp", "rt-threaded", "macros", "sync", "time"]

[features]
default = []
server = ["tokio"]
client = ["tokio"]

