[package]
name = "semtech-udp"
version = "0.1.0"
authors = ["Louis Thiery <thiery.louis@gmail.com>"]
edition = "2018"
description = "Semtech UDP provides serialization and deserialization of packets complying with the Semtech UDP protocol"
license = "Apache-2.0"
keywords = ["lorawan", "iot", "lpwan", "semtech"]
repository = "https://github.com/helium/semtech-udp/"

[dependencies]
num_enum = "0.4"
arrayref = "0.3"
serde_json = { version = "1.0" }
serde = { version = "1.0.100", default-features = false,  features = ["derive"] }

[dev-dependencies]
mio = "0.6"
etherparse = "0.9.0"
pcap = "0.7.0"
lorawan = "0.6.0"
base64 = "0.12.0"